
*.dcu
*.stat
*.local
*.exe
*.identcache
Examples/ComExample/ComExample.dproj
*/__history/*
Packages/102T/__history/CPort_D.dpk.~2~
Packages/102T/__history/CPort_D.dpk.~1~
Packages/102T/__history/CPort_D.dpk.~3~
Packages/102T/__history/CPortNonOficial.dpk.~1~
